.body{
    background-color: #B1DDF0;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
    grid-template-areas:
        "navbar navbar navbar"
        "heading heading heading"
        "img_1 text_1 text_2"
        "text_6 text_3 text_4"
        "text_5 text_5 text_5"
        "img_2 img_3 img_4"
        "footer_1 footer_2 footer_3";
        background-color: #B1DDF0;
        padding: 20px;
}

.navbar {
    grid-area: navbar;
    background-color: #B1DDF0;
    text-align: right;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 5px;
    padding: 0.5em 1em;
    background-color: #F5BC00;
    border-radius: 25px;
    font-size: clamp(0.8rem, 1vw, 1rem);
}

.heading {
    grid-area: heading;
    text-align: center;
}
.heading img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.text_1, .text_2, .text_3, .text_4, .text_6 {
    line-height: 1.6;
    padding: 2rem;
    width: 90%;
    max-width: 100%;
    height: auto;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
}

.text_5 {
    grid-area: text_5;
    background-color: #F5BC00;
    text-align: center;
    padding: 1rem;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

/* Footer */
.footer_1, .footer_2, .footer_3 {
    background-color: #F5BC00;
    padding: 0.8rem;
    font-size: clamp(0.8rem, 1vw, 1rem);
}


.img_1, .img_2, .img_3, .img_4 {
    text-align: center;
}
.img_1 img, .img_2 img, .img_3 img, .img_4 img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


h2 {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}


@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "navbar navbar"
            "heading heading"
            "img_1 text_1"
            "text_2 text_6"
            "text_3 text_4"
            "text_5 text_5"
            "img_2 img_3"
            "img_4 img_4"
            "footer_1 footer_2"
            "footer_3 footer_3";
    }

    .navbar {
        text-align: center;
    }

    .navbar li {
        font-size: clamp(0.8rem, 1.5vw, 1rem);
    }
}


@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "navbar"
            "heading"
            "img_1"
            "text_1"
            "text_2"
            "text_6"
            "text_3"
            "text_4"
            "text_5"
            "img_2"
            "img_3"
            "img_4"
            "footer_1"
            "footer_2"
            "footer_3";
    }

    .navbar {
        text-align: center;
    }

    .navbar li {
        display: block;
        margin: 8px auto;
        width: 80%; /
    }

    .text_1, .text_2, .text_3, .text_4, .text_6 {
        font-size: clamp(0.85rem, 2.5vw, 1rem);
        padding: 0.8rem;
    }

    .footer_1, .footer_2, .footer_3 {
        text-align: center;
    }
}

