.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
    grid-template-areas:
    "navbar navbar navbar"
    "heading heading heading"
    "img_1 text_1 text_2 "
    "img_2 text_3 text_4"
    "text_5 text_5 text_5"
    "img_3 img_3 img_3"
    "footer footer footer";
}

.navbar {
    grid-area: navbar;
    background-color:  #B1DDF0;
    text-align:right;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    padding:10px;
    background-color:#F5BC00;
}

.heading {
    grid-area: heading;
    background-color: #B1DDF0;
    text-align: center;
}

.img_1 {
    grid-area: img_1;
    background-color: bisque;
}

.text_1 {
    grid-area: text_1;
    text-align:center;
    line-height: 25px;
    text-align: justify;
}

.text_2{
    grid-area: text_2;
    line-height: 25px;
    text-align: justify;
}

.text_3{
    grid-area: text_3;
    text-align: center;
    line-height: 25px;
    text-align: justify;
}

.text_4{
    grid-area: text_4;
    line-height: 25px;
    text-align: justify;
    text-align: center;
    padding-left: 20px;
}

.text_5{
    grid-area: text_5;
     background-color:#F5BC00;
     text-align: center;
}

.img_3{
    background-color: #B1DDF0;
    grid-area: img_3;background-color: ;
}

.footer{
    grid-area: footer;
     background-color:#F5BC00;
   
}
h2 {
    text-align: center;
}